{% extends 'base.html' %}
{% block Title %}
<title>Play - MathMaster</title>
{% endblock Title %}

{% block content %}
<div class="container-fluid">
    
    <div class="row">
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-left-warning py-2" data-aos="fade">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <div class="text-uppercase text-warning font-weight-bold text-xs mb-1"><span>Points</span></div>
                            <div class="text-dark font-weight-bold h5 mb-0"><span>18</span></div>
                        </div>
                        <div class="col-auto"><i class="fas fa-chevron-up fa-2x text-gray-300"></i></div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Level 1</h3>

    </div>
    <div class="row">
        
        <div class="col-md-4 col-xl-6 mb-3">

            <div class="card-body text-primary">
              <h5 class="card-title">Multiplication</h5>
              <p class="card-text">Be sure to learn your tables from 1 to 10! You get 15 points for each correct answer!</p>
              <button type="button" class="btn btn-primary btn-sm">Start with Multiplication</button>
            </div>
          </div>
          <div class="col-md-6 col-xl-6 mb-3 border-secondary" >

            <div class="card-body text-secondary">
              <h5 class="card-title">Division</h5>
              <p class="card-text">You get 20 points for each correct answer!</p>
              <button type="button" class="btn btn-secondary btn-sm">Start with Division</button>

            </div>
          </div>
          <div class="col-md-6 col-xl-6 mb-3 border-success" >
            <div class="card-body text-success">
              <h5 class="card-title">Addtion</h5>
              <p class="card-text">You get 5 points for each correct answer.</p>
              <button type="button" class="btn btn-success btn-sm">Start with Addition</button>

            </div>
          </div>
          <div class="col-md-6 col-xl-6 mb-3 border-danger" >
            <div class="card-body text-danger">
              <h5 class="card-title">Subtraction</h5>
              <p class="card-text">You get 10 Points for each correct answer.</p>
              <button type="button" class="btn btn-danger btn-sm">Start with Subtraction</button>

            </div>
          </div>
    </div>

</div>
</div>
{% endblock %}